*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    max-width: 1900px;
    width: 100%;
}
.container{
    max-width: 1900px;
    width: 100%;
}
body{
    max-width: 1900px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
}
.nav{
   max-width: 1900px;
   width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    color:#A29C9C;
    position: fixed;
    z-index: 999;
    width: 100%;
    margin: 0px;
}
.nav a i,.nav>input{
    display: none;
}

.inputnaw{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(156, 154, 154);
    position: relative;
    top: -13px;
}
.inputnaw:hover{
    border-bottom: white 2px solid;
    background-color: black;

}
.parenting{
    display: inline-block;
    position: relative;
}

.childing{
    display: none;
    justify-content: center;
    position: absolute;
    top:40px;
    left: -60px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.534);
    color: #A29C9C;
    width: 150px;
    height: 150px;
    font-size: 16px;
    z-index: 1;
    text-align: center;
}
a:hover{
    color: white;
    transition: 1s;
}
.shopping{
    height: 40px;
}
 a{
    color: #A29C9C;
    display: block;
    text-decoration: none;
    transition: 1s
}
.parenting:hover .childing{
    display: block;
}
.buttton{
position: fixed;
top: 700px;
right: 5px;
z-index: 1111;
}
.q{
    color: white;
}
.split{
    display: flex;
    gap: 8px;
    font-size: 25px;
    padding-left: 40px;

}
.split2{
    padding-right: 40px;
}
ul{
    display: flex;
    position: relative;
    top: 13px;
    gap: 50px;
}
li{
    list-style-type: none;
    font-size: 16px;
    transition-duration: 1s;
}
li:hover{
    color: white;
    transition-duration: 1s;
}
img{
    position: relative;
    z-index: -1;
}
.relative{
    position: relative;
}
.text{
    position: absolute;
    font-size: 35px;
    color: white;
    z-index: 5;
    left: 520px;
    top: 310px;
}
.gilaki{
    position: absolute;
    z-index: 1111;
    background-color: white;
    top: 460px;
    left: 835px;
    width: 250px;
    height: 60px;
    color: white;
    background: transparent;
    border: white 2px solid;
}
.gilaki:hover{
    background-color: white;
    color: #1A1919;
}
.iconn{
    position: absolute;
    top: 610px;
    left: 930px;
    background: transparent;
    color: aliceblue;
    font-size: 50px;
    

}
.icon{
    position: fixed;
    z-index: 1000;
    top: 300px;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 170px;
    width:  80px;
    background-color: rgba(0, 0, 0, 0.8);
}
.parent{
    display: flex;
    width: 100%;
}
.child1
{   
    position: relative;
    color: white;
    background-color: black;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    top: -4px;
}
.new{
    font-size: 40px;
}
.shop{
    border:  solid 2px white;
    padding: 10px 30px;
    font-size: 20px;
}
.shop:hover{
    color: #A29C9C;
    border: solid 2px #A29C9C;
}
.child2{
    position: relative;
    top: -4px;
}
.poto{
    display: flex;
    position: relative;
    top: -4px;
}
.poto1:hover,.poto2:hover,.poto3:hover{
    background-color: rgba(0, 0, 0, 0.4);
}
.poto1:hover::after{
    content: 'SMALL BACKPACK';
}
.poto1::after{
   content: '';
    position: absolute;
    top: 230px;
    left: 200px;
    font-size: 25px;
    color: aliceblue;
}
.poto2:hover::after{
    content: 'BACKPACK';
}
.poto2::after{
   content: '';
    position: absolute;
    top: 230px;
    left: 880px;
    font-size: 25px;
    color: aliceblue;
}
.poto3:hover::after{
    content: 'BIG BACKPACK';
}
.poto3::after{
    content: '';
    position: absolute;
    top: 230px;
    left: 1500px;
    font-size: 25px;
    color: aliceblue;
}
.parent2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 850px;
    position: relative;
    top:-8px;
}
.child3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
}
.on{
    font-size: 40px;
    color: white;
}
.up{
    font-size: 22px;
    color: white;
}
.foto{
    height: 350px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index:1;
    gap: 10px;
}
.canvas{
    color: white;
    font-size: 25px;
}

.img1,.img2,.img3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}
.img1::after,.img2::after,.img3::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: -45px;
    transition: 1s
}

.img1:hover::after,.img2:hover::after,.img3:hover::after{
    background-color: rgba(255, 255, 255, 0.548);
    transition: 1s;}
.parent4{
    display: flex;
    position: relative;
    top: -8px;
    padding: 0px;
    margin: 0px;
    width: 98%;
}
.parent6{
    position: relative;
    top: -8px;
    height: 500px;
    width: 100%;
    display: flex;
    background-color: black;
}
.forms{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    color: #A29C9C;
  
   
  

}
.input{
    width: 350px;
    height: 30px;
    padding-left: 20px;
    font-size: 20px;
}
.input:hover{
    border: green solid 2px;
}
.input-box{
    width: 350px;
    height: 80px;
    font-size: 20px;
    position: relative;
   padding-left: 20px;
   padding-bottom: 40px;
}
.input-box:hover{
    border: green solid 2px;
}
button{
width: 70px;
height: 40px;
font-size: 30px;
color: rgb(255, 255, 255);
background-color: black;
transition: 0.7s;
}
button:hover{
    color: #A29C9C;
    transition: 0.7s;
}
.info{
    color: white;
    padding-top: 100px;
    padding-left: 140px;
}
.parent7{
    width: 100%;
    height: 380px;
    background-color: #141414;
    position: relative;
    top: -8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div1{
    height: 45%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 10px;
}
.subscribe{
    font-size: 30px;
}
.div2{
    height: 55%;
    width: 600px;
    font-size: 20px;
}
.input2{
    border: solid 2px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: #141414;
    width: 570px;
    height: 40px;
    font-size: 15px;
    padding-left: 20px;
}

.input2:hover,.input3:hover{
    border: 2px solid #A29C9C;
}
.input3{
    border: solid 2px rgb(255, 255, 255);
    color: white;
    background-color: #141414;
    width: 570px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}
.div2form{
    border: 3px solid rgb(0, 0, 0);height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
hr{
    width: 100%;
    position: relative;
    top: -20px;
    border: 2px solid black;
    z-index: 11111;
}
.h4
{ position: relative;
    top: -25px;
    width: 100%;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1919;
    color: #A29C9C;}
body{
    background-color: #1A1919;}
   .container{
       max-width: 1900px;
       width: 100%;
   }
   .footer{
    max-width: 1903px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    color: #A29C9C;
    background-color: #1A1919;
}
.ul2{
    display: flex;
    gap: 19px;
    font-size: 15px;
    text-decoration: underline;
}
   @media screen and (max-width: 1000px) {
       .hreficon{
           padding: 0px;
           margin-right: 5px;
           width: 26.25px;
       }
    .div2form{
        max-width: 400px;
        width: 100%;
        padding: 0px;
    }

    .div2{
        max-width: 400px;
        width: 100%;
    }
    .buttton{
        top: 590px;
        left: 350px;
        width: 40px;
    }
    .nav{
       position: static;
       margin: 0px;
       padding: 0px;
    }
    body
    {
      max-width: 400px;
      width: 100%;
      margin: 0px;
      background-color: black;
     
    }
    .nav a i{
        position: relative;
        font-size: 30px;
        display: inline;
        z-index: 9999;
        padding-right: 20px;
        top: -15px;
        color: white;
    }
    .nav>input{
        display: inline;
        position: relative;
        top: 27px;
        left: -160px;
        padding-bottom: 10px;
        border: none;
        border-bottom: 1px solid rgb(156, 154, 154);
        background-color: transparent;
        font-size: 14px;
      
    }
    .split{
        padding-bottom: 30px;
    }
    .split2{
        display: none;
    }
    .relativi span {
        position: absolute;
        left: 65px;
        top: 160px;
        font-size: 20px;
    }
     .relativi button{
         top: 270px;
         left: 120px;
         width: 160px;
         height: 40px;
         font-size: 15px;
     }
     .relativi div img{
         
         width: 400px;
         height:  250px;
     }
     .icon{
         display: none;
     }
   .icon img{
       display: none;
       background-color:transparent;
     }
     .iconn{
         display: none;
     }
     .parent{
         flex-direction: column;
     }
     .parent img,  .parent span{
         width: 400px;
         height: 260px;
     }
     .poto{
         max-height: 1200px;
         height: 100%;
         flex-direction: column;
     }
   .poto1 a img,.poto2 a img,.poto3 a img{
      max-height: 400px;
      height: 100%;
   }
       .parent2{
           max-height: 1400px;
           height: 100%;
           
       } 
  .foto{
      flex-direction: column;
      
  }
     .parent2 span{
         max-height: 1200px;
         height: 100%;
     }
     .parent4{
         background-image: url(./8.PNG);
         background-size: 400px 500px;
         background-repeat: no-repeat;
         height: 500px;
     }
     .parent4>img{
         width: 0px;
     }
     .parent6{
         flex-direction: column-reverse;
        
        
         max-height: 1030px;
         height: 100%;

     }
     .parent6 span{
         height: 320px;
         padding-left: 20px;
         padding-top: 60px;
         font-size: 20px;

     }
     .forms{
         max-width: 400px;
         width: 90%;
         height: 400px;
       
     }
     .parent7{
         max-height: 390px;
         height: 100%;
     }
     .input2,.input3{
    width: 300px;
     }
     .div1{
         padding-top: 20px;
         padding-left: 10px;
         height: 200px;
         gap: 70px;
     }
     .subscribe{
         padding-left: 40px;
     }
     .footer{
        flex-direction: column-reverse;
        height: 350px;
    }
    .footer>h3{
        width: 240px;
    }
    .ul2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 }